# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#Java classes
*.class
#sources files
sources.txt
#resulting simulation file
simulation.txt
